*{
    margin: 0px;
    padding: 0px;
}
/* Start - Navbar Styles */
.menu_container{
    background-color: rgb(22, 21, 21);
    display:flex;
    padding: 20px;
    align-items: center;
    list-style: none;
    color: white;
    justify-content: space-around;
}
.menu>ul{
    list-style: none;
    display: flex;
}
.menu li{
    margin-right: 10px;
    font-size: 20px;
}
.menu li:hover{
    color: red;
    cursor: pointer;
}

.logo-pic{
    width: 200px;
}
/* End - Navbar Styles */

/* Start Banner STyles */
.banner-container{
    display: flex;
    justify-content: space-between;
    padding: 180px;
    height: 70vh;
    align-items: center;
    background-image: url('../images/background.png'),
    linear-gradient(45deg, #393838,#161515);
    color: white;
}
.banner-image{
    width: 400px;
}
.banner-title{
    font-size: 60px;
    font-weight: bold;
}
.banner-description{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    color: white;
}
.btn:hover{
    color:black;
    background-color: white;
    cursor: pointer;
}

/* End Banner Section */

/* start about us section */

.about-us-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-us-container button{
    padding: 20px 30px;
    border-radius:5px;
}
.about-us-container button:hover{
    background-color: black;
    color: white;
}
.about-us-title{
    font-size: 55px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
.about-us-text h2{
    font-size: 30px;
}
.about-us-text p{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-us-imgtag{
    width:350px;
}

/* about us section end */

/* our service start */

.service-sec{
    height: 120vh;
    background-image: url('../images/background.png'),
    linear-gradient(45deg, #393838,#393838);
    color: white;
    margin: 50px 0px;
    align-items:center ;

}

.our-services-title{
    font-size: 55px;
    text-align: center;
    padding: 100px 0px;
    margin-bottom: -50px;
}
.our-services-container{
    margin: 50px 0px;
   
}
.service-box{
    width: 230px;
    height: 300px;
    text-align: center;
    box-shadow: 4px  2px 105px gray;
    background-color: black;
    padding: 55px;
    align-items: center;
    border-radius: 15px;
    
}
.our-services-container{
    display: flex;
    justify-content: space-around;
}
.srbtn{
    background-color: grey;
}
.icon{
    width:80px;
}
.service-box-title{
    margin-bottom:15px;
    font-size: 30px;
}
.service-box-description{
    margin-bottom: 15px;
    font-size: 18px;
}
/* End - Our Service */

/* Start Footer */
.footer-container{
    background-color: black;
    color: white;
    align-items:center ;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    height:50vh;
    margin-top:-50px;
}