*{
    margin: 0px;
    padding: 0px;
}
.menu_container{
    background-color: rgb(22, 21, 21);
    display:flex;
    padding: 20px;
    align-items: center;
    list-style: none;
    color: white;
    justify-content: space-around;
}
.menu>ul{
    list-style: none;
    display: flex;
}
.menu li{
    margin-right: 10px;
    font-size: 20px;
}
.menu li:hover{
    color: aquamarine;
    cursor: pointer;
}

.logo-pic{
    width: 200px;
}